@import "tailwindcss";

:root {
  --background: lab(3 0 0 / 0.9);
  --foreground: #EDEDED;
  --primary: #8B5CF6;
  --primary-glow: rgba(139, 92, 246, 0.5);
  --font-outfit: "Outfit", sans-serif;
  /* Fallback */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-outfit);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

@utility text-glow {
  text-shadow: 0 0 20px var(--primary-glow);
}

@utility bg-glow {
  box-shadow: 0 0 40px var(--primary-glow);
}